body {
    background-color: #f8f9fa; /* Warna latar belakang yang lebih cerah */
}

header h1 {
    color: #343a40; /* Warna judul */
}

h2 {
    color: #007bff; /* Warna untuk subjudul */
    margin-top: 20px; /* Jarak atas untuk subjudul */
}

.list-group-item {
    background-color: #ffffff; /* Latar belakang item daftar */
    border: 1px solid #dee2e6; /* Border item daftar */
}

footer {
    font-size: 0.9em; /* Ukuran font footer */
    color: #6c757d; /* Warna teks footer */
}

.img-fluid {
    max-width: 100%; /* Memastikan foto tidak melampaui lebar kolom */
    height: auto; /* Mempertahankan rasio aspek foto */
}

    
